:root {
    --primary-color: #ec1f55;
    --text-color: #333;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    background-color: #f5f5f5;
}

html {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.logo {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 80px;
    margin-left: 30px;
    margin-top: 180px;
}

.main-music {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: calc(100vh + 100vh);
    background-image: linear-gradient(
        43deg,
        #4158d0 0%,
        #c850c0 46%,
        #ffcc70 100%
    );
}

.player {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0 auto;
}

.player .icon-pause {
    display: none;
}

.player.playing .icon-pause {
    display: inline-block;
}

.player.playing .icon-play {
    display: none;
}

.dashboard {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 16px 14px;
    background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 680px;
    border-radius: 10px;
}

/* HEADER */
header {
    text-align: center;
    margin-bottom: 10px;
}

header h4 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    font-size: 12px;
}

header h2 {
    color: #fff;
    font-size: 20px;
}

/* CD */
.cd {
    display: flex;
    margin: auto;
    width: 180px;
}

.cd-thumb {
    width: 100%;
    padding-top: 100%;
    border-radius: 50%;
    background-color: #333;
    background-size: cover;
    margin: auto;
}

/* CONTROL */
.control {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 18px 0 8px 0;
    max-width: 480px;
    width: 100%;
}

.control .btn {
    color: #666;
    padding: 18px;
    font-size: 18px;
}

.control .btn.active {
    color: var(--primary-color);
}

.control .btn-toggle-play {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    font-size: 24px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
}

.progress {
    height: 6px;
    border-radius: 3px;
    background: #666;
    outline: none;
    opacity: 0.8;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    -webkit-appearance: none;
    cursor: pointer;
    max-width: 480px;
    width: 100%;
}

.progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ec1f55;
}

/* PLAYLIST */
.playlist {
    display: flex;
    flex-wrap: wrap;
    width: calc(100vw - 282px);
    justify-content: center;
    align-items: center;
    margin-top: 450px;
    padding: 12px;
}

.song {
    display: flex;
    flex-wrap: wrap;
    width: 25%;
    align-items: center;
    margin: 0 8px;
    margin-bottom: 12px;
    background-color: #f8bf71;
    padding: 8px 16px;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.song.active {
    background-color: var(--primary-color);
}

.song:active {
    opacity: 0.8;
}

.song.active .option,
.song.active .author,
.song.active .title {
    color: #fff;
}

.song .thumb {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: cover;
    margin: 0 8px;
}

.song .body {
    flex: 1;
    padding: 0 16px;
}

.song .title {
    font-size: 18px;
    color: #1fa1e0;
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.song .author {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 12px;
    color: #1fa1e0;
}

.song .option {
    padding: 16px 8px;
    color: #1fa1e0;
    font-size: 18px;
}
